<a href="https://colab.research.google.com/github/GstavRocha/DataAlanlise/blob/main/Eleicoes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd
import numpy as np
from tabula import read_pdf

# CSV vindo do TSE Não Está Tratado
df_resultados_TSE = pd.read_csv('./Resultado_Presidente/Resultado.csv')
df_resultados_GSA = pd.read_csv('resultado_GSA.csv')
df_colegiados = read_pdf('colegios.pdf', pages='all')
df_resultados_GSA.columns

Index(['Unnamed: 0', 'DT_GERACAO', 'HH_GERACAO', 'ANO_ELEICAO',
       'CD_TIPO_ELEICAO', 'NM_TIPO_ELEICAO', 'NR_TURNO', 'CD_ELEICAO',
       'DS_ELEICAO', 'DT_ELEICAO', 'TP_ABRANGENCIA', 'SG_UF', 'SG_UE', 'NM_UE',
       'CD_MUNICIPIO', 'NM_MUNICIPIO', 'NR_ZONA', 'CD_CARGO', 'DS_CARGO',
       'SQ_CANDIDATO', 'NR_CANDIDATO', 'NM_CANDIDATO', 'NM_URNA_CANDIDATO',
       'NM_SOCIAL_CANDIDATO', 'CD_SITUACAO_CANDIDATURA',
       'DS_SITUACAO_CANDIDATURA', 'CD_DETALHE_SITUACAO_CAND',
       'DS_DETALHE_SITUACAO_CAND', 'CD_SITUACAO_JULGAMENTO',
       'DS_SITUACAO_JULGAMENTO', 'CD_SITUACAO_CASSACAO',
       'DS_SITUACAO_CASSACAO', 'CD_SITUACAO_DIPLOMA', 'DS_SITUACAO_DIPLOMA',
       'TP_AGREMIACAO', 'NR_PARTIDO', 'SG_PARTIDO', 'NM_PARTIDO',
       'NR_FEDERACAO', 'NM_FEDERACAO', 'SG_FEDERACAO',
       'DS_COMPOSICAO_FEDERACAO', 'SQ_COLIGACAO', 'NM_COLIGACAO',
       'DS_COMPOSICAO_COLIGACAO', 'ST_VOTO_EM_TRANSITO', 'QT_VOTOS_NOMINAIS',
       'NM_TIPO_DESTINACAO_VOTOS', 'QT_VOTOS_NOMINAIS_VALIDOS',
       'CD_SIT_TOT_TURNO', 'DS_SIT_TOT_TURNO'],
      dtype='object')

### Tratamento de tabelas

In [37]:
resultados = pd.DataFrame({
        'candidato': df_resultados_GSA['NM_CANDIDATO'],
        'UF': df_resultados_GSA['SG_UF'],
        'qtd_votos': df_resultados_GSA['QT_VOTOS_NOMINAIS']
})
group_candidato_estado_votos = resultados.groupby(by=['candidato','UF']).sum()
group_candidato_estado_votos

                              qtd_votos
candidato                 UF
JAIR MESSIAS BOLSONARO    AC     287750
                          AL     687827
                          AM     961741
                          AP     200547
                          BA    2357028
                          CE    1634477
                          DF    1041331
                          ES    1282145
                          GO    2193041
                          MA    1082749
                          MG    6141310
                          MS     880606
                          MT    1216730
                          PA    2073895
                          PB     802502
                          PE    1798832
                          PI     467065
                          PR    4159343
                          RJ    5403894
                          RN     711381
                          RO     633236
                          RR     213518
                          RS    3733185
                          SC    3047630
                          SE     421086
                          SP   14216587
                          TO     411654
                          ZZ     145264
LUIZ INÁCIO LULA DA SILVA AC     121566
                          AL     976831
                          AM    1004991
                          AP     189918
                          BA    6097815
                          CE    3807891
                          DF     729295
                          ES     926767
                          GO    1542115
                          MA    2668425
                          MG    6190960
                          MS     599547
                          MT     652786
                          PA    2509084
                          PB    1601953
                          PE    3640933
                          PI    1551383
                          PR    2506605
                          RJ    4156217
                          RN    1326785
                          RO     262904
                          RR      67128
                          RS    2891851
                          SC    1351918
                          SE     862951
                          SP   11519882
                          TO     434593
                          ZZ     152905

In [84]:
array_jair = np.array(group_candidato_estado_votos[0:27])
array_lula = np.array(group_candidato_estado_votos[28:55])

# print('o ulitmo de jair é', array_jair[-1],' o primeiro de lula é',array_lula[0])
if len(array_jair) == len(array_lula): # verificar se eles possuem o mesmo tamanho
    check_bool = array_jair > array_lula # verifica os estados em que bolsonaro venceu;
    print(check_bool.flatten())
else:
    raise ValueError("Os arrays 'array_jair' e 'array_lula' têm tamanhos diferentes!")

comparativo = pd.Series(check_bool.flatten())

[ True False False  True False False  True  True  True False False  True
  True False False False False  True  True False  True  True  True  True
 False  True False]

# Resultado Por Estados

In [86]:
resultados_estados = resultados.groupby(by=['UF'])['qtd_votos'].sum()
ufs = resultados_estados.index[:len(array_jair)]
df_resultados_estados = pd.DataFrame({
    'UF': ufs,
    'BV': comparativo
    
})
df_resultados_estados

    UF     BV
0   AC   True
1   AL  False
2   AM  False
3   AP   True
4   BA  False
5   CE  False
6   DF   True
7   ES   True
8   GO   True
9   MA  False
10  MG  False
11  MS   True
12  MT   True
13  PA  False
14  PB  False
15  PE  False
16  PI  False
17  PR   True
18  RJ   True
19  RN  False
20  RO   True
21  RR   True
22  RS   True
23  SC   True
24  SE  False
25  SP   True
26  TO  False